Student Form
<form method="post" action="<%= students_path %>">
    <input name="student[first_name]" type="text">
    <input name="student[last_name]" type="text">
    <input type="submit", value="Submit Student">
</form>